<form [formGroup]="registrationForm" (ngSubmit)="registerEmployee(registrationForm.value)">
  <mat-form-field>
    <input formControlName="employeeId" matInput placeholder="Employee ID"/>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!registrationForm.get('employeeId')?.valid && registrationForm.get('employeeId')?.touched">Please enter Employee ID.</span>
  </mat-error>
  <mat-form-field>
    <input formControlName="firstName" matInput placeholder="First Name"/>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!registrationForm.get('firstName')?.valid && registrationForm.get('firstName')?.touched">Please enter First Name.</span>
  </mat-error>
  <mat-form-field>
    <input formControlName="lastName" matInput placeholder="Last Name"/>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!registrationForm.get('lastName')?.valid && registrationForm.get('lastName')?.touched">Please enter Last Name.</span>
  </mat-error>
  <mat-radio-group formControlName="gender">
    <mat-radio-button value="Male">Male</mat-radio-button>
    <mat-radio-button value="Female">Female</mat-radio-button>
  </mat-radio-group>
  <mat-error>
    <span *ngIf="!registrationForm.get('gender')?.valid && registrationForm.get('gender')?.touched">Please select any gender.</span>
  </mat-error>
  <mat-form-field>
    <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Date of birth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!registrationForm.get('dateOfBirth')?.valid && registrationForm.get('dateOfBirth')?.touched">Please select any Date !!!</span>
  </mat-error>
  <mat-form-field>
    <input formControlName="department" matInput placeholder="Department"/>
  </mat-form-field>
  <mat-error>
    <span *ngIf="!registrationForm.get('department')?.valid && registrationForm.get('department')?.touched">Please enter Department.</span>
  </mat-error>
  <button mat-raised-button color="primary" [disabled]="!registrationForm.valid">Register</button>
  <button mat-raised-button color="accent" (click)="close(true)">Cancel</button>
</form>

